.classpath.xml
.vscode/
pom.xml
src/tp1/TesteBibliotecaParteB.java
src/tp1/TesteBibliotecaParteC.java
src/tp1/Ficheiros_texto/
src/tp1/ascii_art/
src/tp1/CatalogoLivros.java
src/tp1/GestaoHorarios.java
src/tp1/TrianguloSierpinski.java
src/tp1/AsciiArtGallery.java
src/tp1/AnalisadorTexto.java
ParteD_Jogo_Da_forca_Parte1/
ParteD_Jogo_Da_forca_Parte2/
ParteD_Jogo_Da_forca_Parte3/
ParteD_Jogo_Da_forca_Parte4/
ParteD_Jogo_Da_forca_Parte5/
ParteD_Jogo_Da_forca_Parte6/
ParteD_Jogo_Da_forca_Parte7/
ParteD_Jogo_Da_forca_Parte8/
src/tp1/library/*.java
*.class
src/tp1/Enunciado_ParteD_Jogo_da_Forca.docx